### 1. Create a dictionary with 3 key-value pairs (name, age, city).

In [2]:
dic = {'name':'Ashutosh', 'age':25, 'city':'KOP'}

dic

{'name': 'Ashutosh', 'age': 25, 'city': 'KOP'}

### 2. Create a dictionary and print the value of a specific key.

In [3]:
dic['name']

'Ashutosh'

### 3. Create a list of 5 numbers and print the second element.

In [4]:
nums = [1, 3, 4, 2, 5]

nums.index(2)

3

### 4. Add an element "banana" to an existing list.

In [6]:
fruits = ['strawberry', 'grapes', 'pineapple']

fruits.append('banana')
fruits

['strawberry', 'grapes', 'pineapple', 'banana']

### 5. Insert "apple" at index 2 in a list.

In [7]:
fruits.insert(2, 'apple')

fruits

['strawberry', 'grapes', 'apple', 'pineapple', 'banana']

### 6. Remove the element 10 from a list.

In [8]:
ele = [1, 2, 3, 4, 5, 6, 7, 10, 8, 9, 0]

ele.remove(10)

ele

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

### 7. Create a tuple with 4 elements and print the last one.

In [13]:
tup = (23, 45, 43, 12)

tup[-1]

12

### 8. Convert a tuple into a list.

In [11]:
list(tup)

[23, 45, 43, 12]

### 9. Find the length of a given tuple.

In [14]:
len(tup)

4

### 10. Store 5 student names in a list and print them using a loop.

In [15]:
std = ['qwe', 'asd', 'zxc', 'poi', 'mno']

for s in std:
    print(s)

qwe
asd
zxc
poi
mno

### 11. Create two lists and concatenate them.

In [16]:
lst1 = [12, 34, 45]
lst2 = [33, 45, 65, 655]

lst1.extend(lst2)

lst1

[12, 34, 45, 33, 45, 65, 655]

### 12. Reverse a list without using reverse().

In [29]:
lst1 = [12, 34, 45]

rev = lst1[::-1]

print(rev)

[45, 34, 12]

### 13. Sort a list in descending order.

In [30]:
lst = [23, 23, 43, 12, 2]

lst.sort()
lst

[2, 12, 23, 23, 43]

### 14. Create a set with 5 numbers and add a new number.

In [31]:
swe = {23, 34, 45, 56, 12, 20}

swe.add(11)

swe

{11, 12, 20, 23, 34, 45, 56}

### 15. Remove an element from a set using discard().

In [32]:
swe = {'qwe', 'wer', 'rfv','sdf'}

swe.discard('wer')

swe

{'qwe', 'rfv', 'sdf'}

### 16. Find the union of two sets.

In [38]:
wes = {'qwe', 'sxv', 'sdf'}
a = swe.union(wes)

print(a)

{'rfv', 'sdf', 'wer', 'qwe', 'sxv'}

### 17. Find the intersection of two sets.

In [42]:
s = swe.intersection(wes)

print(s)

{'sdf', 'qwe'}

### 18. Check if a value exists in a set.

In [47]:
if 'sdf' in swe:
    print('true')

true

### 19. Create a set and clear all elements.

In [49]:
swew = {12, 34, 56, 23}

swew.clear()

swew

set()

### 20. Convert a list with duplicate values into a set.

In [50]:
org = [2, 2, 4, 5, 6]

dup = org.copy()

dup

[2, 2, 4, 5, 6]

### 21. Create a dictionary and update the value of a key.

In [8]:
dic = {1: 'qwe', 2: 'asd', 3: 'mko'}
dic[2] = 'rfv'

dic

{1: 'qwe', 2: 'rfv', 3: 'mko'}

### 22. Delete a key-value pair from a dictionary.

In [9]:
dic.pop(2)

dic

{1: 'qwe', 3: 'mko'}

### 23. Print all keys of a dictionary.

In [10]:
dic.keys()

dict_keys([1, 3])

### 24. Print all values of a dictionary.

In [11]:
dic.values()

dict_values(['qwe', 'mko'])

### 25. Loop through a dictionary and print key and value.

In [19]:
dic = {2: 'poi', 3: 'mnb', 4: 'tre'}

for k, v in dic.items():
    print(k, v)

2 poi
3 mnb
4 tre

### 26. Create a list of numbers and print only even numbers.

In [20]:
lst = [1, 2, 3, 4, 5, 6, 7]

for i in lst:
    if i%2 == 0:
        print(i, end=' ')

2 4 6

### 27. Create a tuple and unpack it into 3 variables.

In [21]:
tup = (23, 45, 'asd')

v1, v2, v3 = tup

print(v1, v2, v3)

23 45 asd

### 28. Check if a number is greater than 10 using a comparison operator.

In [22]:
num = 21

num >= 18

True

### 29. Use the in operator to check if "python" exists in a list.

In [25]:
lst = ['java', 'python', 'sql']

'python' in lst

True

### 30. Use the and operator in a condition.

In [28]:
age = 23

age >= 18 and age <= 21

False

### 31. Use the % operator to check if a number is divisible by 5.

In [30]:
num = 24

num%5

4

### 32. Use the ** operator to calculate 2 raised to the power 5.

In [31]:
2**5

32

### 33. Create two numbers and compare them using >=.

In [36]:
num1, num2 = 48, 33

num1 >= num2

True

### 34. Create a list and remove the last element using pop().

In [70]:
lst = ['apple', 'grapes', 'apple', 'strawberry', 'pieapples', 'apple']


lst.pop()

'apple'

### 35. Create a list and print its first and last elements.

In [72]:
[lst[0], lst[-1]]

['apple', 'pieapples']

### 36. Count how many times "apple" appears in a list.

In [71]:
lst.count('apple')

2

### 37. Create a tuple and check if a value exists using in.

In [75]:
tup = (23, 45, 'wr', 54, 'wer')

'wr' in tup

True

### 38. Convert a dictionaryâ€™s keys into a list.

In [80]:
dic = {2:'two', 5:'five', 8:'eight', 11:'elevan'}

list(dic.keys())

[2, 5, 8, 11]

### 39. Create a nested dictionary for a student (name, marks, subjects).

In [84]:
std = {'name': 'DEV', 'subs': {'sub1': 'Eng', 'sub2': 'Mar', 'sub3': 'Hindi'}, 'marks': {'agg': 76.99, 'grade': 'A+'}}

std

{'name': 'DEV',
 'subs': {'sub1': 'Eng', 'sub2': 'Mar', 'sub3': 'Hindi'},
 'marks': {'agg': 76.99, 'grade': 'A+'}}

### 40. Merge two dictionaries into one.

In [92]:
dict1 = {2: 'two', 4: 'four', 3: 'three', 2: 'two'}
dict2 = {8: 'eighth', 6: 'six', 7: 'seven'}

#updict = dict1.union(dict2)
#updict

dict1.update(dict2)
dict1

{2: 'two', 4: 'four', 3: 'three', 8: 'eighth', 6: 'six', 7: 'seven'}

### 41. Create a set and print the number of elements.

In [93]:
nums = {23, 34, 45, 12, 'asd', 'asds'}

len(nums)

6

### 42. Create a dictionary and print all items using items().

In [95]:
dict1 = {2: 'two', 4: 'four', 3: 'three', 2: 'two'}

list(dict1.items())

[(2, 'two'), (4, 'four'), (3, 'three')]

### 43. Create a list of numbers 1 to 10 and print the square of each one.

In [96]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for i in lst:
    print(i**2, end=' ')

1 4 9 16 25 36 49 64 81 100

### 44. Multiply two numbers and print the result using *.

In [98]:
num1, num2 = 2, 3

print(num1*num2)

6

### 45. Divide two numbers and print the results using / and //.

In [99]:
num1, num2 = 34, 78

print(num2/num1, num2//num1)

2.2941176470588234 2

### 46. Create a list and replace the element at index 1.

In [100]:
lst = [ 34, 'asd', 'wer', 44, 'edc']

lst[1] = 46
lst

[34, 46, 'wer', 44, 'edc']

### 47. Create a tuple from user input (3 values).

In [108]:

tup = ()
for i in range(0, 3):
    tup += tuple(input('Enter Input: '))

tup

Enter Input:  1
Enter Input:  2
Enter Input:  3

('1', '2', '3')

### 48. Create a set from a string and print all unique characters.

In [109]:
sts = {12, 23, 12, 23, 22, 98}

sts #set avoids duplicity

{12, 22, 23, 98}

### 49. Use the is operator to compare two variables.

In [112]:
var1, var2 = 23, 24

var1 is var2

False

### 50. Create a dictionary and check if a key exists using in.

In [116]:
dic = {1: 'asd', 2: 'qwe', 3: 'edc', 4: 'plm'}

2 in dic.keys()

True

### 51. Write a program to check if a number is between 10 and 50 using and.

In [119]:
num = 34

num >= 10 and num <= 50

True

### 52. Check if a number is less than 5 or greater than 20 using or.

In [123]:
num = 21

num < 5 or num > 20

True

### 53. Use not to check if a list is not empty.

In [140]:
lst = [1, 2, 3, 4, 5]

if not not lst: 
    print('not empty')
else:
    print('yess')

not empty

### 54. Write code to check if a character is a vowel using or.

In [162]:
ch = 'e'

if ch == 'a' or ch == 'e' or ch == 'i' or ch == 'o' or ch == 'u':
    print("It's Vowel -->", ch)
else:
    print('No')

It's Vowel --> e

### 55. Check if a dictionary has both keys "name" and "age".

In [172]:
dic = {'name': 'asdf', 'age': 32}

req = {'name', 'age'}

req.issubset(dic)

True

### 56. Verify if a set contains either 10 or 20.

In [182]:
se = {10, 30 ,30, 22}

10 in se or 20 in se

True

### 57. Use not to check if a number is not equal to 100.

In [185]:
num = 20

num is not 100

<>:3: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
<>:3: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
C:\Users\itsas\AppData\Local\Temp\ipykernel_9052\1407672030.py:3: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
  num is not 100

True

### 58. Write a condition to check if a student passed (marks > 35 and attendance > 75).

In [188]:
marks = 44
attendance = 88

if marks >=35 and attendance >= 75:
    print('pass')

pass

### 59. Use logical operators to check if a number is positive and even.

In [192]:
num = -22

num >= 0 and num%2 == 0

False

### 60. Check if a tuple has more than 3 elements or contains the value 0.

In [202]:
tup = (23, 34, 'as', 'asdf', 0)

len(tup) >= 3 or 0 in tup

True