# Basic List Operations

1. Create a list of 5 numbers and add a new number to the end.

In [3]:
list1 = [2, 5, 3, 4, 6]
list1.append(10)

list1

[2, 5, 3, 4, 6, 10]

2. Make a list of fruits and insert a fruit at the second position.

In [7]:
fruits = ['Apple', 'Grapes', 'Pineapple']
fruits.insert(1, 'Cherry')

fruits

['Apple', 'Cherry', 'Grapes', 'Pineapple']

3. Create a list of names and remove one name from the list.

In [8]:
names = ['ABC', 'XYZ', 'PQR', 'LMN']
names.remove('XYZ')

names

['ABC', 'PQR', 'LMN']

4. Create a list of 4 items and change the value at index 2.

In [2]:
list2 = [23, 45, 65, 34, 54]
list2[2] =  00

list2

[23, 45, 0, 34, 54]

5. Make a list of numbers and print only the first three elements.

In [10]:
nums = [1, 3, 4, 5, 5]
nums[0:3]

[1, 3, 4]

6. Create a list of colors and find the index of a specific color.

In [15]:
colors = ['black', 'blue', 'red', 'white']
colors.index('red')

2

7. Create a list of 10 numbers and print how many times “5” appears.

In [18]:
num10 = [1, 2, 3, 5, 5, 6, 7, 5, 6, 9]

num10.count(5)

3

8. Make a list of 6 items and delete the item at index 3.

In [27]:
item6 = ['abc', 'qwe', 'rty', 'mnb', 'thu', 'bhu']
item = item6[2]

item

'rty'

9. Create a list of animals and add three more animals using extend().

In [29]:
list1 = ['lion', 'tiger']
list2 = ['leopard', 'elephant', 'panther']

list1.extend(list2)

list1

['lion', 'tiger', 'leopard', 'elephant', 'panther']

10. Create a list and remove the last item using pop().

In [31]:
pop_list = [1, 2, 3, 4, 5, 6]
pop_list.pop()

pop_list

[1, 2, 3, 4, 5]

11. Create a list of prices and sort them in ascending order.

In [32]:
price_list = [499, 399, 434, 233, 223]
sorted(price_list)

[223, 233, 399, 434, 499]

12. Make a list of countries and reverse the order of the list.

In [34]:
countries = ['IN', 'USA', 'UK', 'UAE', 'SWE']
countries.reverse()

countries

['SWE', 'UAE', 'UK', 'USA', 'IN']

13. Create a list of words and check if “apple” is in the list.

In [35]:
words = ['asd', 'qwe', 'qaa', 'apple']

'apple' in words

True

14. Create a list of numbers and print the largest and smallest number.

In [45]:
nums = [32, 34, 11, 9, 788]
print(max(nums))
print(min(nums))

788
9

15. Make a list of 5 items and print each item using a loop.

In [50]:
items5 = [23, 34, 45, 56, 67]

for i in items5:
    print(i, end=' ')

23 34 45 56 67

16. Create two lists and combine them into one list.

In [53]:
list1 = ['qwe', 'asd', 'zxc']
list2 = ['por', 'tgb']
list1.extend(list2)

list1

['qwe', 'asd', 'zxc', 'por', 'tgb']

17. Make a list and replace the last item with a new value.

In [54]:
liist = ['qwe', 'asd', 'zxc', 'poi', 'lkj', 'mno']
liist[-1] = 'xxx'

liist

['qwe', 'asd', 'zxc', 'poi', 'lkj', 'xxx']

18. Create a list of numbers and print only the even numbers.

In [62]:
even_list = [11, 21, 34, 44, 54, 56, 55]

for i in even_list:
    if i%2 == 0:
        print(i,end=' ')

34 44 54 56

19. Create a list and clear all items from the list.

In [65]:
new_list = [12, 23, 4, 45, 65, 67, 78]
new_list.clear()

new_list

[]

20. Create a list of 5 values and copy it into another list.

In [71]:
list5 = ['abc', 'def', 'ghi', 'jkl', 'mno']
copy_list = list5.copy()

copy_list

['abc', 'def', 'ghi', 'jkl', 'mno']